<h1>Manufacturers</h1>

<%= link_to "Add a new manufacturer", new_manufacturer_path %>

<ol>
  <h3> List of manufacturers in the lot </h3>
  <% @manufacturers.each do |manufacturer| %>
    <li><%= manufacturer.name %> - <%= manufacturer.country %></li>
  <% end %>
</ol>

